.reservation-h1 {
    font-family: 'Markazi Text';
    font-size: 40px;
    color: #333333;
    text-align: center;
    padding: 1rem;
}

.reservation {
    display: grid;
    margin-bottom: 4rem;
    padding-top: 20px;
    padding-bottom: 20px;
}


.reservation .reservation-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.reservation .reservation-form .reservation-form-div  {
    grid-column: 2/ span 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 1rem;
}

.reservation .reservation-form .reservation-form-div .reservation-items {
    font-family: 'Karla';
    font-size: 18px;
    color: #333333;
}

.reservation .reservation-form .btn{
    grid-column: 2/ span 1;
    align-self: center;
}
