/*
.App { 
  display: grid; 
  height: 2900px; 
  grid-template-areas:"header nav"
                      "main main" 
                      "footer footer"; 
  grid-template-rows: 80px 5fr 2fr;
  grid-template-columns: repeat(12, auto);
  text-align: center;
  place-items: center;  
}


.Main {
  grid-area: main;
  grid-column: 2 / span 8;
}

.Footer {
  grid-area: footer;
  grid-column: 2/ span 8;
}
*/